/* Loading Screen */

#loadingScreen {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	z-index: 100000000000000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#loadingScreen.hide {
	display: none;
}

.hide {
	display: none;
}


/* Modal */

.modal {
	/* Probably need media queries here */
	display: flex;
	width: 600px;
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	z-index: 1000001;
	left: 50%;
	top: 60%;
	overflow-y: auto;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
	display: none;
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.modal-guts h1 {
	margin-top: 40px;
	padding: 10px;
}

.modal ul {
	margin: 10px 0 10px 30px;
}

.modal li,
.modal p {
	margin: 0 0 10px 0;
}

.modal .close-button {
	position: absolute;
	cursor: pointer;
	/* don't need to go crazy with z-index here, just sits over .modal-guts */
	z-index: 1;
	top: 10px;
	/* needs to look OK with or without scrollbar */
	right: 20px;
	border: 0;
	background: black;
	color: white;
	padding: 5px 10px;
	font-size: 1.3rem;
}

.open-button {
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: lightgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 21px;
}

.hide {
	display: none;
}

#modal,
#options {
	height: 60vh;
	min-height: 400px;
	width: 90vw;
	text-align: center;
}

#modal .chart-container {
	position: relative;
}

#modal .chart-container-container {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

#modalChart {
	width: 300px;
}

@media only screen and (min-width: 650px) {
	.modal-guts h1 {
		margin-top: 0;
	}
	#modalChart,
	#modal .chart-container-container {
		width: 500px;
	}
}

@media only screen and (min-width: 1100px) {
	#modalChart,
	#modal .chart-container-container {
		width: 700px;
	}
}