/* Navigation css */

.topnav {
	overflow: hidden;
	background-color: #262625;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
	min-height: 53px;
}

.topnav a {
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 15px;
}

a:active {
	outline: none;
}

a.active,
.topnav a:hover {
	color: #fcb040;
}

.topnav .icon {
	display: none;
	font-size: 35px !important;
	padding-top: 0px;
	padding-left: 12px;
	padding-bottom: 0px;
	padding-right: 12px;
}

@media screen and (min-width: 651px) {
	.topnav div {
		float: right;
		margin-right: 5%;
	}
}

@media screen and (max-width: 650px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
		margin-right: 15px;
		padding-top: 5px;
	}
	.topnav.responsive {
		position: fixed;
	}
	.topnav.responsive .icon {
		position: fixed;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.topnav.responsive a:first-of-type {
		margin-top: 53px;
	}
}