/* Global Styles */


/* Google maps */

/* Always set the map height explicitly to define the size of the div * element that contains the map. */
  #map {
  height: 60%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Main pages general styles */


#home, #districtView, #neighbourhoodView, #yearView{
  padding-top: 83px;
  box-sizing: border-box;
}

#districtView{
  height:100vh;
  min-height:768px;
}

#districtView h2, #neighbourhoodView h2, #yearView h2{
  text-align:center;
}

/* Individual pages general styles */

#home{
  background-color:#1b2b58;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align:center;
}

#home h1{
  font-size:3em;
}

#home p{
  padding:10px;
  max-width:75%;
}

#home img{
  width:177px;
}

#districtView {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#districtView p {
  max-width:75%;
  text-align:center;
  margin:0 auto;
  margin-bottom:25px;
}

#neighbourhoodView{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#neighbourhoodCompareBlock{
  display:flex;
  justify-content:space-evenly;
  border: 1px solid black;
  padding: 10px;
  padding-top:20px;
  margin: 20px;
  border-radius: 5px;
}

#neighbourhoodCompareBlock form span{
    width: 125px;
    margin-bottom: 20px;
    display: inline-block;
}

#neighbourhoodCompareBlock div{
display: flex;
flex-direction: column;
justify-content: space-between;
}

#neighbourhoodCompareButton{
  border:0px solid transparent;
  border-radius:5px;
  background-color: #f1ba4a;
  color: #000;
  font-weight:bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

#neighbourhoodCompareButton:hover{
  background-color: #d19e43;
  cursor:pointer;
}

#neighbourhoodView .chart-container{
  width:100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left:0;
}

#neighbourhoodView .chart-container .chart-container-container{
  width:50%;
}


/* Footer */

footer{
  text-align:center;
  background-color:#262625;
  color:white;
  height:50px;
  display: flex;
  justify-content: center;
  justify-items: center;
}



@media only screen and (min-width: 768px) {
  #home, #districtView, #neighbourhoodView, #yearView{
    height:100vh;
  }

  #home p{
    padding: 0 10px;
    max-width:50%;
  }
}
